<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168048754169-1b881jnsq4hr21ufnv5dji1ht3hrt7ak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168048754169-1b881jnsq4hr21ufnv5dji1ht3hrt7ak</string>
	<key>API_KEY</key>
	<string>AIzaSyAmFe4bgNxvEsrQRJj57g4TUTAl6PJqLWk</string>
	<key>GCM_SENDER_ID</key>
	<string>168048754169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.datingapp.superheroRendezvous</string>
	<key>PROJECT_ID</key>
	<string>superhero-rendezvous</string>
	<key>STORAGE_BUCKET</key>
	<string>superhero-rendezvous.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168048754169:ios:12cf12e55de757d86e1128</string>
</dict>
</plist>